.hidden {
	display: none;
}

.invoice-container {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, .4);
}

.invoice-content {
	position: relative;
	margin: 15% auto;
	padding: 20px;
	width: 80%;
	background-color: #fefefe;
}

.close {
	position: absolute;
	top: 5px;
	right: 5px;
	text-decoration: none;
}
